
<div class="container">
        <div class="tableRow">
            <div class="element">
                <form action="">
                    <label id="id">ID</label>
                    <input class="inputData" type="text">
                    <label id="start">START</label>
                    <input class="inputData" type="text">
                    <label id="fieldName">END</label>
                    <input class="inputData" type="text">
                    <label id="fieldName">MIN START</label>
                    <input class="inputData" type="text">
                    <label id="fieldName">MIN END</label>
                    <input class="inputData" type="text">
                </form>
            </div>
            <button mat-stroked-button class="addNew">
                <span class="material-icons">add</span>
            </button>
        </div>
</div>

