<div class="container">
  
    <div class="tableRow" *ngFor="let row of rows; let i = index">
        <div class="element">
          <label id="id">ID</label>
          <input class="inputData" type="text" />
          <label id="start">START</label>
          <input class="inputData" type="text" />
          <label id="fieldName">END</label>
          <input class="inputData" type="text" />
          <label id="fieldName">MIN START</label>
          <input class="inputData" type="text" />
          <label id="fieldName">MIN END</label>
          <input class="inputData" type="text" />
         <button (click)="removeField(i)">
             <span class="material-icons">cancel</span>
            </button>
        </div>
    </div>
  <button mat-stroked-button class="addNew" (click)="addField()">
    <span class="material-icons">add</span>
  </button>
</div>


